{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ai_chat/state_header

    TODO describe template state_header

    Example context (json):
    {
    }
}}
<div class="d-flex flex-row justify-content-between align-items-center pl-2 pr-2 block_ai_chat-state-header">
    <select class="custom-select w-50" data-block_ai_chat-element="personaselectdropdown">
        {{! This is populated dynamically with JS. }}
    </select>
    <div class="badge rounded-pill bg-info" data-block_ai_chat-element="personabanner">
        {{! This is populated dynamically with JS. }}
    </div>
</div>
